.Filter{
    background-color: #fff;
    flex: 0.95 1;
    height: 50px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    overflow-x: hidden;
    position: sticky;
    z-index: 1000;
    top: 60px;
}

.Filter__container{
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
}

.Filter_item{
    border-radius: 30px;
    border: 1px solid #dedede;
    display: flex;
    padding: 2px 10px;
    background-color: #F2F3F3;
    color: #020302;
}

.Filter_navigation_right{
    position: absolute;
    right: 0;
    height: 40px;
    width: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #ffffffdb;
    margin: 0;
}
